<!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Sobre Mim</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <p>Ama compartilhar conhecimento e tem contribuído com as comunidades da região (Makers Manaus, GDG Manaus, Agile Manaus, EduInovAM, Jaraqui Valley, Roraima FullStack Devs), por meio de palestras, oficinas, mentoria, divulgação, apoio. Em 2019, recebeu o prêmio de Mentor do Ano na 4° Cerimônia Anual do Prêmio Jaraqui Graúdo organizado pelo Jaraqui Valley.
                    </p>
                </div>

                <div class="col-lg-4">
                    <p>Possui graduação em Ciência da Computação pelo Instituto de Ensino Superior Fucapi (2006), mestrado em Engenharia Elétrica pela Universidade Federal do Amazonas (2009) e doutorado em Engenharia Elétrica pela Universidade Federal de Minas Gerais (2015). Atualmente, é professor na Faculdade Martha Falcão/Wyden e pesquisador na TPV Technology.</p>
                </div>
                <div class="col-lg-4">
                    <p>Atua nos seguintes temas: Desenvolvimento de Aplicativos para Web, Desenvolvimento de Aplicativos para Dispositivos Móveis, Sistemas Embarcados, Internet das Coisas (IoT), Qualidade de Serviço (QoS), Qualidade de Experiência (QoE) e Informática na Educação.</p>
                </div>
            </div>
        </div>
    </section>