<!-- Footer -->
<footer class="text-center" id="informations">
    <div class="footer-above">
        <div class="container">
            <div class="row">
                <div class="footer-col col-md-3">
                </div>
                <div class="footer-col col-md-6">
                    <h3>Mais Informações</h3>
                    <ul class="list-inline">
                        {% if site.lattes_username %}
                        <li>
                            <a href="http://lattes.cnpq.br/{{ site.lattes_username }}" class="btn-social btn-outline" target="_blank"><i class="fa fa-file-text-o"></i></a>
                        </li>
                        {% endif %}
                        {% if site.medium_username %}
                        <li>
                            <a href="https://medium.com/@{{ site.medium_username }}" class="btn-social btn-outline" target="_blank"><i class="fa fa-fw fa-medium"></i></a>
                        </li>
                        {% endif %}
                        {% if site.linkedin_username %}
                        <li>
                            <a href="https://www.linkedin.com/in/{{ site.linkedin_username }}" class="btn-social btn-outline" target="_blank"><i class="fa fa-fw fa-linkedin"></i></a>
                        </li>
                        {% endif %}
                        {% if site.github_username %}
                        <li>
                            <a href="https://github.com/{{ site.github_username }}" class="btn-social btn-outline" target="_blank"><i class="fa fa-fw fa-github"></i></a>
                        </li>
                        {% endif %}
                        {% if site.slideshare_username %}
                        <li>
                            <a href="https://www.slideshare.net/{{ site.slideshare_username }}" class="btn-social btn-outline" target="_blank"><i class="fa fa-fw fa-slideshare"></i></a>
                        </li>
                        {% endif %}
                        
                        {% if site.facebook_username %}
                        <li>
                            <a href="https://www.facebook.com/{{ site.facebook_username }}" class="btn-social btn-outline" target="_blank"><i class="fa fa-fw fa-facebook"></i></a>
                        </li>
                        {% endif %}
                        {% if site.instagram_username %}
                        <li>
                            <a href="https://www.instagram.com/{{ site.instagram_username }}" class="btn-social btn-outline" target="_blank"><i class="fa fa-fw fa-instagram"></i></a>
                        </li>
                        {% endif %}
                        {% if site.twitter_username %}
                        <li>
                            <a href="https://twitter.com/{{ site.twitter_username }}" class="btn-social btn-outline" target="_blank"><i class="fa fa-fw fa-twitter"></i></a>
                        </li>
                        {% endif %}
                        {% if site.stackoverflow_url %}
                        <li>
							<a href="{{ site.stackoverflow_url }}" class="btn-social btn-outline"><i class="fa fa-fw fa-stack-overflow" target="_blank"></i></a>
                        </li>
                        {% endif %}
                        {% if site.googleplus_username %}
                        <li>
							<a href="https://plus.google.com/+{{ site.googleplus_username }}" class="btn-social btn-outline" target="_blank"><i class="fa fa-fw fa-google-plus"></i></a>
                        </li>
                        {% endif %}
                        {% if site.skype_username %}
                        <li>
							<a href="skype:{{ site.skype_username }}?call" class="btn-social btn-outline" target="_blank"><i class="fa fa-fw fa-skype"></i></a>
                        </li>
                        {% endif %}
                        {% if site.youtube_username %}
                        <li>
                            <a href="https://www.youtube.com/channel/{{ site.youtube_username }}" class="btn-social btn-outline" target="_blank"><i class="fa fa-youtube"></i></a>
                        </li>
                        {% endif %}
                        {% if site.email_username %}
                        <li>
                            <a href="mailto:{{ site.email_username }}" class="btn-social btn-outline" target="_blank"><i class="fa fa-fw fa-envelope"></i></a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
                <div class="footer-col col-md-3">
                </div>
            </div>
        </div>
    </div>
    <div class="footer-below">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    Copyright &copy; Orlewilson Bentes Maia 2018-2020
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
<div class="scroll-top page-scroll hidden-sm hidden-xs hidden-lg hidden-md">
    <a class="btn btn-primary" href="#page-top">
        <i class="fa fa-chevron-up"></i>
    </a>
</div>
