<!-- Portfolio Grid Section -->
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Portfólio</h2>
                    <hr class="star-primary">
                </div>
            </div>
            {% assign i = 0 %}
            {% assign divider = 3 %}
            {% for post in site.posts %}
                {% if i == 0 %}
                    <div class="row">
                {% endif %}
                {% if i == divider %}
                    </div>
                    <div class="row">
                    {% assign divider = divider | plus:3 %}
                {% endif %}
                <div class="col-md-4 portfolio-item">
                    <a href="#{{ post.modalID }}" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="{{ site.baseurl }}/{{ post.img }}" class="img-responsive" alt="">
                    </a>
                </div>
                {% assign i = i | plus:1 %}
                {% endfor %}
                </div>
        </div>
    </section>